@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

  --player-red: var(--bs-red);
  --player-blue: var(--bs-blue);
  --player-green: var(--bs-green);
  --player-oprange: var(--bs-oprange);
  --player-yellow: var(--bs-yellow);
}

/* @media (prefers-color-scheme: dark) { */
[data-theme='dark'] {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background: var(--bs-body-bg);
}
