
.badge-player {
  padding: .25rem;
  border-radius: 5px;
  color: white;
  opacity: .75;
}

.bg-player-red {
  background: var(--bs-red);
}
.bg-player-blue {
  background: var(--bs-blue);
}

.autoCompleteItem {
  cursor: pointer;
}

