
.badge-player {
  padding: .25rem;
  border-radius: 5px;
  color: white;
  opacity: .75;
}

.bg-player-red {
  background: var(--bs-red);
}
.bg-player-blue {
  background: var(--bs-blue);
}

.autoCompleteItem {
  cursor: pointer;
}

.btnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnIcon > :not(:last-child) {
  margin-right: .25em;
}

.tooltip {
  text-align: left;
}
.tooltip > p:last-child {
  margin-bottom: 0;
}

.languageSelector {
  height: 100%;
  display: flex;
  align-items: center;
}
.languageSelectorItem {
  /* height: 100%; */
  display: flex;
  align-items: center;
}
.languageSelectorItem img {
  margin-right: 0.5rem;
}



